apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: bzsy
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: bzsy
    app.kubernetes.io/part-of: byoc-app-pjaa
  name: bzsy
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: bzsy
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: bzsy
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-hjhp-tenant/byoc-app-pjaa/bzsy@sha256:6b21621f95e9726654742353c4d969e269f4ebe617ea7e01debe76276ce08b73
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
